.seeker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
